services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
      POSTGRES_DB: finance
    volumes:
      - ./init-db:/docker-entrypoint-initdb.d
    ports:
      - "5432:5432"

  next-app:
    build: .
    ports:
      - "3000:3000"
    environment:
      DATABASE_URL: postgresql://root:root@db:5432/finance
    depends_on:
      - db